name: Build & Test

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm lint --max-warnings=0
      - name: (rust) Add wasm32 target
        run: rustup target add wasm32-unknown-unknown
      - name: (rust) Compile to wasm
        run: pnpm build:rt:wasm
      - run: pnpm build --no-lint
      - run: pnpm test run
